<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>fr.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>witnesscalc_authV2Static.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>witnesscalc_credentialAtomicQueryMTPV2OnChainStatic.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>witnesscalc_credentialAtomicQueryMTPV2Static.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>witnesscalc_credentialAtomicQuerySigV2OnChainStatic.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>witnesscalc_credentialAtomicQuerySigV2Static.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>26D92295AFCA4883A6545F65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D7B4C19E4B7486B8D4B7EE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B73D0064B57458086D82FA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92DFFF7D96044B24A70B560C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>944CA564301B4E25BCB08D16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1FEF94F46414C5588087ACC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E78068E3828E4B25A7525163</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
